
.animate{

border:none;
outline:none;
padding:18px 62px;
background:#222;
color:white;
overflow:hidden;
cursor:pointer;
font-size:16px;
font-weight:700;
letter-spacing:1px;
text-transform:uppercase;
position:relative;
box-shadow: 0 5px 15px rgb(138, 199, 138);
}
.buttonfont{
position: relative;
z-index: 2;
font-family:inherit;
}
.backfacebutton::after{
content:'';
position:absolute;
left:0;
bottom:0;
width:150%;
height:160%;
background: rgba(0,0,0,.3);
z-index:1;
transform-origin:bottom left;
transform:skew(40deg) translateX(-92%) translateY(40%);
transition:all .5s ease-in-out;



}
.out-flow-sequence:hover::after{
transform:skew(40deg) translateX(-92%);
}
.make-hover:hover{
    text-shadow: green -3px 0, red 3px 0;
}

